* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --background-clr: bisque;
  --highlight-clr: rgb(185, 105, 7);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
}

.btn {
}

/* ================================================= BANNER */

.banner-section {
  display: grid;
  height: 10rem;
}

.banner-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  padding: 20px;
  /* gap: 2rem; */
  background-color: bisque;
}

.app-title {
  display: grid;
  justify-content: center;
  font-size: 40px;
  font-style: italic;
}

.app-presents-title {
  display: grid;
  justify-content: center;
  font-size: 16px;
}

/* ==================================================== NAVIGATION */

.navigation-center {
  display: grid;
  height: fit-content;
  border: 2px solid var(--highlight-clr);
  outline: none;
}

.navbar {
  display: grid;
  height: 50px;
}

.nav-links {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-links li {
  display: grid;
  width: 100%;
  height: 100%;
}

.nav-links a {
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 0.2px solid rgba(128, 128, 128, 0.4);
}

.nav-links li a:hover {
  background-color: var(--highlight-clr);
  color: white;
}

/* =============================================== CLOCK IN SECTION*/

.clock-in-section {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 3i0rem;
  background-color: rgb(255, 250, 229);
  justify-content: center;
  align-items: center;
}

.clock-in-center {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 6rem;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.clock-in-heading {
  justify-self: center;
  color: var(--highlight-clr);
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: 2px underline;
}

/* ============================================== TIMER */
.time-center {
  display: grid;
  width: 400px;
  justify-content: center;
}

.time-container {
  display: grid;
  gap: 15px;
  height: 200px;
  justify-items: center;
}

.time-heading {
  font-size: 35px;
}

.time {
  display: grid;
  align-items: center;
  font-size: 100px;
  padding: 0px 25px;
  border: 2px solid;
  box-shadow: 5px 5px 5px grey;
}

/*========================================== IDENTIFICATION */
.identification-center {
  display: grid;
  width: 400px;
  gap: 50px;
  padding: 15px;
  border: 2px solid;
  box-shadow: 5px 5px 5px grey;
}

.input-container {
  display: grid;
  gap: 15px;
  justify-items: center;
}

.input-bar {
  outline: none;
  border: 1px solid black;
  width: 80%;
  height: 35px;
  padding: 5px;
  font-size: 20px;
}

.number-pad {
  display: grid;
  height: fit-content;
  gap: 15px;
  width: 150px;
  justify-content: center;
}

.number-pad-numbers {
  display: flex;
  font-size: 40px;
  gap: 15px;
}

.number {
  width: 4rem;
  display: flex;
  /* flex-direction: row; */
  padding: 4px;
  font-size: 40px;
  border: 1px solid;
  justify-content: center;
}

.submit-btn {
  width: 25%;
  height: 35px;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  background-color: var(--highlight-clr);
  color: white;
}

/* =================== notification */

.notification-container {
  display: grid;
}

.notification-heading,
.notification-message, .notification-message-time {
  justify-self: center;
  height: 20px;
}

.highlight-name {
  color: var(--highlight-clr);
}
