* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --background-clr: bisque;
  --highlight-clr: rgb(185, 105, 7);
}

body {
  display: grid;
}

/* ================================================= BANNER */

.banner-section {
  display: grid;
  height: 10rem;
}

.banner-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  padding: 20px;
  /* gap: 2rem; */
  background-color: bisque;
}

.app-title {
  display: grid;
  justify-content: center;
  font-size: 40px;
  font-style: italic;
}

.app-presents-title {
  display: grid;
  justify-content: center;
  font-size: 16px;
}

/* ==================================================== NAVIGATION */

.navigation-center {
  display: grid;
  height: fit-content;
  border: 2px solid var(--highlight-clr);
  outline: none;
}

.navbar {
  display: grid;
  height: 50px;
}

.nav-links-container {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-link-list-item {
  display: grid;
}

.nav-link {
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 0.2px solid rgba(128, 128, 128, 0.4);
}

.nav-link:hover {
  background-color: var(--highlight-clr);
  color: white;
}

.active {
  background-color: var(--highlight-clr);
  color: white;
}

/* =============================================== HOME SECTION*/

.home-center {
  display: grid;
  height: 700px;
  background-color: rgb(255, 250, 229);
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.home-title {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* =============================================== CLOCK IN SECTION*/

.clock-in-section {
  display: grid;
  height: 700px;
  grid-template-rows: 2fr 7fr 1fr;
  background-color: rgb(255, 250, 229);
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-bottom: 2px solid black;
}

.clock-in-center {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
  padding: 5px;
  max-width: 1200px;
  margin: 0 auto;
}

.clock-in-heading {
  justify-self: center;
  border-bottom: 2px solid var(--highlight-clr);
  color: var(--highlight-clr);
  font-size: 40px;
}

/* ============================================== TIMER */
.time-center {
  display: grid;
  width: 100%;
  justify-content: center;
}

.time-container {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  gap: 15px;
  width: 100%;
  height: 220px;
  justify-items: center;
  align-items: center;
}

.time-heading {
  font-size: 35px;
}

.time {
  display: grid;
  align-items: center;
  font-size: 100px;
  padding: 0px 25px;
  border: 2px solid;
  width: 100%;
  justify-content: center;
  background-color: var(--background-clr);
  box-shadow: 5px 5px 5px grey;
}

.date {
  display: grid;
  height: 25px;
  width: 150px;
  border-bottom: 2px solid;
  justify-content: center;
}

/*========================================== IDENTIFICATION */

.identification-center {
  display: grid;
  width: 380px;
  gap: 50px;
  padding: 25px;
  border: 2px solid;
  justify-self: center;
  box-shadow: 5px 5px 5px grey;
  background-color: var(--background-clr);
}

.input-container {
  display: grid;
  gap: 15px;
  justify-items: center;
}

.input-bar {
  outline: none;
  border: 1px solid black;
  width: 100%;
  height: 35px;
  padding: 5px;
  font-size: 20px;
}

.number-pad {
  display: grid;
  height: fit-content;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.number-pad-numbers {
  display: flex;
  font-size: 40px;
  gap: 15px;
}

.number,
#backspace-btn,
#clear-btn {
  width: 4rem;
  display: flex;
  background-color: white;
  padding: 4px;
  font-size: 40px;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.submit-btn {
  width: 25%;
  height: 35px;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  background-color: var(--highlight-clr);
  color: white;
  cursor: pointer;
}

/* =================== notification */

.notification-container {
  display: grid;
}

.notification-heading,
.notification-message,
.notification-message-time {
  justify-self: center;
  height: 20px;
}

.highlight-name {
  color: var(--highlight-clr);
}

.notification-message{
  text-align: center;
}

@media screen and (max-width: 1140px) {
  .clock-in-section {
    display: grid;
    /* grid-template-rows: 1fr 10fr; */
  }

  .clock-in-center {
    display: flex;
    gap: 50px;
    width: 800px;
    margin: 0 auto;
    justify-items: center;
  }

  .identification-center {
    display: grid;
    justify-self: center;
    width: 100%;
  }

  .clock-in-heading {
    padding-top: 20px;
  }

  .time-container {
    display: grid;
    grid-template-rows: 50px 100px;
  }

  .time {
    width: 80%;
    font-size: 35px;
    height: 70%;
  }

  .submit-btn {
    width: fit-content;
    padding: 0 10px;
  }

  .input-bar {
    font-size: 18px;
  }
}

/* ===============================================

STATISTICS SECTION

==================================================*/
.statistics-center {
  display: grid;
  height: 700px;
  background-color: rgb(255, 250, 229);
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

/* ===============================================

CLOCK OUT SECTION

==================================================*/
.staff-list-center {
  display: grid;
  height: 700px;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(255, 250, 229);
  justify-content: center;
  align-items: start;
  border-bottom: 2px solid black;
  /* border: 2px solid; */
  gap: 35px;
  padding: 25px;
}

.staff-list-title,
.logged-out-staff-list-title {
  display: grid;
  justify-content: center;
}

.staff-member-card, .staff-member-card-1,
.logged-out-staff-member-card, .logged-out-staff-member-card-1 {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
  border: 2px solid;
  height: 30px;
  width: 900px;
  border-bottom: 0.1px solid;
  justify-content: center;
}

.staff-member-name,
.staff-member-class,
.staff-member-status,
.time-stamp-clock-in,
.time-stamp-clock-out {
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 0.2px solid;
  padding: 0 5px;
}
.staff-member-name-1,
.logged-out-staff-member-name-1,
.staff-member-class-1,
.logged-out-staff-member-class-1,
.staff-member-status-1,
.logged-out-staff-member-status-1,
.time-stamp-clock-in-1,
.logged-out-time-stamp-clock-in-1,
.time-stamp-clock-out-1,
.logged-out-time-stamp-clock-out-1 {
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 0.2px solid;
  padding: 0 5px;
  background-color: lightgrey;
}

.staff-member-name {
  justify-content: start;
  padding-left: 20px;
}

